In [172]:
import pandas as pd
import numpy as np

In [173]:
# Change the path to the dataset file if needed. 
PATH = '../data/athlete_events.csv'

In [174]:
data = pd.read_csv(PATH)
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

**1. How old were the youngest male and female participants of the 1992 Olympics?**

In [187]:
data[data['Year'] == 1992].groupby(['Sex'])['Age'].min()

Sex
F    12.0
M    11.0
Name: Age, dtype: float64

**2. What was the percentage of male basketball players among all the male participants of the 2012 Olympics? Round the answer to the first decimal.**

In [176]:
(
    data[(data['Sport'] == 'Basketball') & (data['Sex'] == 'M') & (data['Year'] == 2012)]['ID'].count()*100
    /
    data[(data['Sex'] == 'M') & (data['Year'] == 2012)]['ID'].count()
)

2.0267417311752287

**3. What are the mean and standard deviation of height for female tennis players who participated in the 2000 Olympics? Round the answer to the first decimal.**

In [177]:
df[(df['Sport'] == 'Tennis') & (df['Sex'] == 'F') & (df['Year'] == 2000)]['Height'].agg(['mean','std'])

mean    171.843137
std       6.815783
Name: Height, dtype: float64

**4. Find a sportsman who participated in the 2006 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?**

In [178]:
df[(df['Year']== 2006) & (df['Weight'] == df[(df['Year'] == 2006)]['Weight'].max())]['Sport']

8102    Skeleton
Name: Sport, dtype: object

**5. How many times did John Aalberg participate in the Olympics held in different years?**

In [179]:
data[data['Name']=='John Aalberg'].drop_duplicates(subset=['Name','Year'])['ID'].count()

2

**6. How many gold medals in tennis did sportspeople from the Switzerland team win at the 2008 Olympics? Count every medal from every sportsperson.**

In [188]:
data[(data['Medal']=='Gold') & (data['NOC']=='SUI')  & (data['Year']==2008) & (data['Sport']=='Tennis')]['ID'].count()

2

**7. Is it true that Spain won fewer medals than Italy at the 2016 Olympics? Do not consider NaN values in Medal column.**

In [181]:
data[(data['NOC']=='ESP') & (data['Year']==2016)]['Medal'].dropna().count() < data[(data['NOC']=='ITA')  & (data['Year']==2016)]['Medal'].dropna().count()

True

**8. What age category did the fewest and the most participants of the 2008 Olympics belong to?**

In [189]:
data['age_bins'] = pd.cut(x=data['Age'], bins=[0,14,24, 34, 44, 55,150])
data[data['Year']==2008].groupby('age_bins')['ID'].count()

age_bins
(0, 14]        17
(14, 24]     6294
(24, 34]     6367
(34, 44]      790
(44, 55]      119
(55, 150]      13
Name: ID, dtype: int64

**9. Is it true that there were Summer Olympics held in Atlanta? Is it true that there were Winter Olympics held in Squaw Valley?(Правда ли, что в Атланте проходили Летние Олимпийские игры? Правда ли, что в Скво-Вэлли проводились Зимние Олимпийские игры?**

In [190]:
print(data[data['City']=='Atlanta']['Season'].drop_duplicates()=='Summer',data[data['City']=='Squaw Valley']['Season'].drop_duplicates()=='Winter')

32    True
Name: Season, dtype: bool 83    True
Name: Season, dtype: bool

**10. What is the absolute difference between the number of unique sports at the 1986 Olympics and 2002 Olympics? Какова абсолютная разница между количеством уникальных видов спорта на Олимпиадах 1986 и 2002 годов?**

In [184]:
data[data['Year']==2002]['Sport'].dropna().drop_duplicates().count() - data[data['Year']==1986]['Sport'].dropna().drop_duplicates().count()

15